.navbar{
    background: #fff;
    width:100%;
    max-width:1363px;
    align-items: center;
    box-shadow: 0px 3px 8px #999;
}
.nav-logo{
    width:100px;
    height: 40px;
    margin-right: 1rem;
}
.nav-logo img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.search{
    background: rgb(231 227 227);
    padding: .2rem .5rem;
    border-radius: .5rem;
    display:flex;
    align-items: center;
}
.bi-search{
    font-size: 1.2rem;
    color:#000;
    margin:0 .2rem;
}
#search{
    border:none;
    outline: none;
    padding: .4rem;
    width: 250px;
    background: inherit;
    color:#000;
}
#search::placeholder{
    color:#000;
}
.bi-bell,.bi-person-circle {
    font-size: 1.6rem;
    margin:0 .5rem;
}
