.post_section{
    background: #fff;
    width: 100%;
    border-radius: .3rem;
    margin:1rem 0;
    padding: .2rem .4rem;
}
.post_section2 h2{
    font-size: 1.2rem;
    margin: 0 .2rem;
}
.post_section2 p{
    font-size: .9rem;
    margin: 0 .2rem;
}
.post_section2 .bi-three-dots{
    font-size: 1.5rem;
    margin-right: .6rem;
}
.post_section h3{
    font-size: 1rem;
    margin:.3rem .6rem;

}