.root-section_one{
    width: 100%;
    max-width: 1363px;
    margin: 0 auto;
    background: rgba(240, 236, 236, 0.185);
    height:150%; 
}
.root-section{
    max-width:1200px;
    margin:2rem auto;
   display: flex;
}
.app_left-section{
    width: 350px;
}
.app_right-section{
    width: calc(100% - 350px);
    padding: 0;
}